---
layout: default
title: Blog
permalink: /blog/
---

# All Articles

<div style="margin-bottom: 30px;">
  <a href="{{ '/' | relative_url }}">&larr; Back to Home</a>
</div>

{% for post in site.posts %}
  <article style="margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #eee;">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    
    {% if post.subtitle %}
      <h3 style="color: #666; font-weight: normal; margin-top: -10px;">{{ post.subtitle }}</h3>
    {% endif %}
    
    <div class="meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      {% if post.author %} • By {{ post.author }}{% endif %}
    </div>
    
    {% if post.description %}
      <p>{{ post.description }}</p>
    {% endif %}
    
    {% if post.excerpt %}
      <div>{{ post.excerpt | strip_html | truncatewords: 50 }}</div>
    {% endif %}
    
    <p><a href="{{ post.url | relative_url }}">Read more &rarr;</a></p>
    
    {% if post.tags %}
      <div class="tags">
        {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </article>
{% endfor %}

{% if site.posts.size == 0 %}
  <p>No articles published yet.</p>
{% endif %}
